@layer skins {
    #splitter {
        flex-direction: var(--splitlist-direction);
    }

    #splitList {
        flex-direction: var(--splitlist-direction);
    }

    #gameInfo {
        position: relative;
        background-image:
            url("./images/thimbo.png"), url("./images/timwave.png"),
            var(--color-primary);
        background-size:
            contain,
            contain,
            100% 100%;
        background-position: left, 95%, center;
        background-repeat: no-repeat;
        text-align: var(--gameinfo-text-align);
    }

    #gameTitle {
        font-size: var(--gameinfo-title-size);
        font-weight: var(--gameinfo-title-font-weight);
    }

    #gameCategory {
        margin: var(--gameinfo-category-margin);
        padding-bottom: var(--gameinfo-category-bottom-space);
        font-size: var(--gameinfo-category-font-size);
        font-weight: var(--gameinfo-category-font-weight);
    }

    #splitBody {
        flex-direction: var(--splitlist-direction);
    }

    #splitContainer {
        background-image: url("./images/jinxtool.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #finalSegment {
        background: var(--color-primary);
    }

    #splitList table tr.selected {
        background: var(--active-segment-background);
        color: var(--active-segment-text-color);
    }

    #splitList table td {
        border: var(--segment-border);
        border-left: 0;
        border-right: 0;
        padding: var(--segment-padding);
    }

    #attempts {
        position: static;
        top: 0px;
        font-size: 14px;
        font-weight: var(--gameinfo-category-font-weight);
    }


    #splitName {
        width: var(--segment-name-width);
    }

    .comparison-mode {
        display: none;
    }

    .splitDelta {
        text-align: var(--split-delta-text-align);
        font-family: var(--split-delta-font-family), monospace;
    }

    .splitComparison {
        text-align: var(--split-comparison-text-align);
        font-family: var(--split-comparison-font-family), monospace;
    }

    button.collapseToggle {
        margin-right: 6px;
    }
}
