@layer skins {
    #timer-container {
        padding: 5px;
        background-image: url("./images/tooltime.png");
        background-repeat: no-repeat;
        background-position: left top;
    }

    #time-container {
        font-family: "Monofonto", sans-serif;
        font-size: 50px;
    }

    .timer-ahead {
        color: greenyellow;
    }

    .timer-behind {
        color: #f00;
    }

    .timer-gold {
        color: gold;
    }
}
