@layer vars {
    :root {
        /* colors */
        --color-primary: linear-gradient(to bottom, #4884bb, #053768);

        /* segment container */
        --splitlist-direction: column;

        /* game information section */
        --gameinfo-text-align: center;
        --gameinfo-title-size: 18px;
        --gameinfo-title-font-weight: normal;
        --gameinfo-category-margin: 0;
        --gameinfo-category-bottom-space: 6px;
        --gameinfo-category-font-size: 18px;
        --gameinfo-category-font-weight: normal;

        /* segment list */
        --active-segment-background: #000;
        --active-segment-text-color: #fff;
        --segment-border: 2px solid #333;
        --segment-padding: 5px;
        --segment-name-width: 60%;
        --split-delta-font-family: Monofonto, monospace;
        --split-delta-text-align: right;
        --split-comparison-text-align: right;
        --split-comparison-font-family: Monofonto, monospace;
    }
}
