@layer skins {
    /*
        This is a super overengineered gradient to celebrate a PB.
        Technically any CSS can go on any element. When a PB is achieved,
        the "pb" class is added throughout the splitter.
    */

    #gameInfo.pb,
    #finalSegment.pb {
        background-color: #184a2c;

        background-image:
            linear-gradient(
                120deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.18) 40%,
                rgba(255, 255, 210, 1) 50%,
                rgba(255, 255, 255, 0.18) 60%,
                rgba(255, 255, 255, 0) 100%
            ),
            var(--existing-bg, none);

        background-repeat: no-repeat, no-repeat;

        background-size:
            250% 100%,
            cover;

        background-position:
            -150% 0,
            0 0;

        animation: shimmerMove 0.6s linear infinite;
    }

    @keyframes shimmerMove {
        from {
            background-position:
                -150% 0,
                0 0;
        }

        to {
            background-position:
                150% 0,
                0 0;
        }
    }
}
