@layer skins {
    #splitter {
        flex-direction: var(--splitlist-direction);
    }

    #splitList {
        flex-direction: var(--splitlist-direction);
    }

    #gameInfo {
        position: relative;
        background-image: url("./images/metroid.gif"), var(--color-primary);
        background-size:
            20% auto,
            100% 100%;
        background-position: 95%, center;
        background-repeat: no-repeat;
        text-align: var(--gameinfo-text-align);
        font-family: var(--split-comparison-font-family), sans-serif;
    }

    #gameTitle {
        font-family: var(--split-comparison-font-family), sans-serif;
        font-size: var(--gameinfo-title-size);
        font-weight: var(--gameinfo-title-font-weight);
    }

    #gameCategory {
        margin: var(--gameinfo-category-margin);
        padding-bottom: var(--gameinfo-category-bottom-space);
        font-family: var(--split-comparison-font-family), sans-serif;
        font-size: var(--gameinfo-category-font-size);
        font-weight: var(--gameinfo-category-font-weight);
    }

    #splitBody {
        flex-direction: var(--splitlist-direction);
    }

    #splitContainer {
        background-image: url("./images/metroidback.png");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center bottom;
        font-family: var(--split-comparison-font-family), sans-serif;
    }

    #finalSegment {
        background: var(--color-primary);
        font-family: var(--split-comparison-font-family), sans-serif;
    }

    #splitList table tr.selected {
        background: var(--active-segment-background);
        color: var(--active-segment-text-color);
    }

    #splitList table td {
        border: var(--segment-border);
        border-left: 0;
        border-right: 0;
        padding: var(--segment-padding);
    }

    .splitName {
        width: var(--segment-name-width);
    }

    #attempts {
        position: static;
    }

    .splitDelta {
        text-align: var(--split-delta-text-align);
        font-family: var(--split-delta-font-family), monospace;
    }

    .splitComparison {
        text-align: var(--split-comparison-text-align);
        font-family: var(--split-comparison-font-family), monospace;
    }

/* This is for nested splits only. I'm going to leave this here, but it's just if you want to use nested splits.

button.collapseToggle {
        margin-right: 6px;
    }

*/

    .comparison-mode {
        background-color: #141943;
        font-family: var(--split-comparison-font-family), monospace;
        opacity: 1;
    }
}
