@layer skins {

    #gameInfo {
        position: relative;
        background: var(--color-primary);
        text-align: var(--gameinfo-text-align);
        font-family: var(--split-delta-font-family), monospace;
    }

    #gameTitle {
        font-family: var(--split-delta-font-family), monospace;
        font-size: var(--gameinfo-title-size);
        font-weight: var(--gameinfo-title-font-weight);
    }

    #gameCategory {
        position: relative;
        top: -4px;
        margin: var(--gameinfo-category-margin);
        padding-bottom: var(--gameinfo-category-bottom-space);
        font-family: var(--split-delta-font-family), monospace;
        font-size: var(--gameinfo-category-font-size);
        font-weight: var(--gameinfo-category-font-weight);
    }

    #splitContainer {
        background-image: url("./images/pastelbackgroundedit.jpg");
        background-repeat: no-repeat;
        background-position: 25% 25%;
        background-size: cover;
        font-family: var(--split-delta-font-family), monospace;
    }

    #finalSegment {
        background: var(--color-primary);
        font-family: var(--split-delta-font-family), monospace;
    }

    #splitList table tr.selected {
        background: var(--active-segment-background);
        color: var(--active-segment-text-color);
    }

    #splitList table td {
        padding: var(--segment-padding);
        border: var(--segment-border);
        border-left: 0;
        border-right: 0;
        color: var(--inactive-segment-text-color);
        text-shadow:
            1px 1px 0 #1a163e,
            1px 1px 1px #1a163e,
            2px 2px 2px #1a163e;
    }

    #attempts {
        position: relative;
        top: -1.6em; /* move up next to the category */
        margin-left: 10.5em;
        display: inline-block;
        text-align: center;
    }

    .comparison-mode {
        background-color: var(--color-primary);
        font-family: var(--split-comparison-font-family), monospace;
        font-size: 12px;
        opacity: 1;
        position: absolute;
        top: 5.7em;
        margin-left: 0.3em;
    }

    .splitDelta {
        font-family: var(--split-delta-font-family), monospace;
    }

    .splitComparison {
        font-family: var(--split-comparison-font-family), monospace;
    }
}
